.container {
 
  max-width: 100% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-left: 10% !important; 
  padding-right: 10% !important; 
}
  
  /* Small Screen Size */
  
  @media only screen and (min-width: 480px) {
    .container {
      max-width: 90%;
      padding: 0 1rem;
    }
  
    html {
      font-size: 62.9%;
    }
  
    .dividor_hero {
      background-color: rgb(255,176,86);
      height: 0.2rem;
      margin-top: 5%;
      margin-bottom: 10%;
      position: relative;
      display: flex;
      justify-content: center;
    }
  
    /* Header Section */
    .header_section {
      height: 65vh;
    }
     
    /* Hero Section */
    .hero_section_information {
      position: absolute;
      top: 34dvw;
      z-index: 8;
    }
  
    
  
  @media only screen and (min-width: 640px) {
    body .body_section {
      padding: 2rem;
    }

    .container {
      max-width: 90%;
      padding: 0rem 1rem;
    }
  
    .dividor_hero {
      background-color: rgb(255,176,86);
      height: 0.2rem;
      margin-top: 5%;
      margin-bottom: 5%;
      position: relative;
      display: flex;
      justify-content: center;
    }

    /* Hero Section */
    .hero_section_information {
      position: absolute;
      top: 32dvw;
      z-index: 8;
    }
  
  
    /* Our Instructors Details */
    .our_instructors_images {
      gap: 8%;
      margin-top: 5%;
    }
    
    .our_instructors_image {
      width: 14rem;
      height: 37dvw;
    }
  
  
    .our_instructors_images .our_instructors_image img {
      right: 1%;
      width: 25dvw;
    }
  }
  
  @media only screen and (min-width: 768px) {
    body .body_section {
      padding: 4rem;
    }

    .container {
      max-width: 85%;
      padding: 0rem 2rem;
    }
  
    html {
      font-size: 68.7%;
    }
  
    /* Header Section */
    .header_section {
      height: 50vh;
    }
  
    /* Hero Section */
    .dividor_hero {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  
   /* Hero Section */
    .hero_section_information {
      position: absolute;
      top: 18dvw;
      z-index: 8;
    }
  
    /* Our Program Section */
    .our_programs_card_details {
      padding: 4.5rem 2rem;
    }
  
    .our_programs_card_details h3 {
      font-size: 2rem;
    }
  
    .our_programs_card_details p {
      font-size: 1.5rem;
    }
  
    /* Our Instructors Details */
    .our_instructors_images {
      gap: 3%;
      margin-top: 9%;
    }
    
    .our_instructors_image {
      width: 15rem;
      height: 32dvw;
    }
  
  
    .our_instructors_images .our_instructors_image img {
      right: 1%;
      width: 22dvw;
    }
  
    /* Our Community */
  
    /* Competition And Achievement Section */
  
    /* Why Us Section */
  
    /* Join Us Section */
  
    /* Footer Section */
  }
  
  @media only screen and (min-width: 1024px) {
    .container {
      max-width: 85%;
    }
  
    html {
      font-size: 68.9%;
    }
  
    .dividor_hero {
      margin-top: 5%;
      margin-bottom: 4%;
    }
  
    .dividor {
      margin: 9vh 0vh 5vh 0vh
    }
  
    /* header */
    .navigation_menu,
    .nav_links {
      display: none;
    }
  
    .nav_links {
      display: flex;
    }
  
    .nav_links.active {
      background-color: none;
    }
  
    .nav_links ul {
      display: flex;
      flex-direction: row;
      gap: 2rem;
    }
  
    .nav_links nav ul a {
      font-weight: 500;
    }
  
    .nav_links.active {
      position: static;
      width: auto;
      height: auto;
      display: flex;
      justify-content: flex-start;
      top: auto;
      left: auto;
      background-color: transparent;
      z-index: auto;
    }
  
    .nav_links.active nav {
      width: fit-content;
    }
  
    .nav_links.active nav ul {
      display: flex;
      flex-direction: row; /* Display the navigation links horizontally */
      background-color: transparent;
      padding: 0;
      border-radius: 0;
      margin: 0;
    }
  
    .header_section {
      height: 80vh;
    }
    
   /* Hero Section */
   .hero_section_information {
    position: absolute;
    top: 14dvw;
    z-index: 8;
  }

    /* cicrle starts here */
    .circle {
      width: 23rem; 
      height: 23rem; 
      border-radius: 50%;
      position: absolute;
      top: 1.5%;
      right: -5%;
      transform: rotate(15deg);
      z-index: 11;
     
    }
    
    .circle::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
          to right,
          rgb(188,177,160, 0.5) ,
          rgb(188,177,160, 0.5) ,
           .3rem,
          transparent 0.2rem,
          transparent 0.8rem
      );
      border-radius: 50%;
    }

    .circle_top {
      right: 30%;
    }

    /* circle ends here */
  
    /* Hero Section */
    .hero_section_information {
      display: grid;
      grid-template-columns: 40vw;
      margin-top: 24vh;
    }
  
    /* Our Programs Card */
    .our_programs_cards {
      display: grid;
      row-gap: 2rem;
      column-gap: 2rem;
      grid-template-columns: 49% 49%;
      padding: 0 0.6rem;
    }
  
    /* Our Instructors */
 
    /* Our Instructors Details */
    .our_instructors_details {
      display: grid;
      grid-template-columns: 56% 40%;
      column-gap: 3rem;
    }

    .our_instructors_images {
      gap: 4%;
      margin-top: 9%;
    }
    
    .our_instructors_image {
      width: 15rem;
      height: 24dvw;
    }
  
  
    .our_instructors_images .our_instructors_image img {
      right: 1%;
      width: 16dvw;
    }
  
    /* Our Community */
    .our_community_information {
      display: grid;
      grid-template-columns: 50%;
      text-align: left;
    }
  
    /* Competition and achievement */
    .competition_achievement_images .competition_achievement_images_slider {
      place-content: center;
      /* padding: 0 0.5rem; */
      display: grid;
      grid-template-columns: 30% 30% 30%;
      column-gap: 2rem;
    }
  
    .competition_achievement_information article {
      padding: 0 12rem;
    }
  
    /* Why Us */
  
    .choose_us_why_title {
      display: grid;
      grid-template-columns: 40%;
    }
  
    .choose_us_card::after {
      content: "";
      height: 0;
      width: 0;
    }
  
    .choose_us_cards .row_reverse {
      display: grid;
      grid-template-columns: 40% 50%;
      column-gap: 9rem;
      place-content: center;
      text-align: right;
      margin-left: 15vh;
  
    }
  
    .choose_us_cards .row {
      display: grid;
      grid-template-columns: 50% 40%;
      place-content: center;
      column-gap: 9rem;
      text-align: left;
      margin-right: 15vh;
    }
  
    .choose_us_cards .row :nth-child(2) {
      grid-row-start: 1;
    }
  
    .choose_us_card_information .choose_us_card_content {
      font-size: 1.6rem;
      font-weight: 400;
      margin-top: 1rem;
    }
  
    /* Footer */
    footer .footer_one_categories {
      display: flex;
      justify-content: space-between;
      text-align: left;
    }
  }
  
  @media only screen and (min-width: 1280px) {
    .container {
      max-width: 90%;
    }
  
    html {
      font-size: 72%;
    }
  
    /* Hero Section */
    .header_section {
      height: 85vh;
    }
  
  /* Hero Section */
  .hero_section_information {
    position: absolute;
    top: 14dvw;
    z-index: 8;
  }
  
    /* Our Instructors Details */
    .our_instructors_images {
      gap: 3%;
      margin-top: 6%;
    }
    
    .our_instructors_image {
      width: 14rem;
      height: 20dvw;
    }
  
  
    .our_instructors_images .our_instructors_image img {
      right: 1%;
      width: 13dvw;
    }
    
  }
    
  
  
  
  @media only screen and (min-width: 1536px) {
    .container {
      max-width: 85%;
    }
  
    html {
      font-size: 72%;
    }
  
    /* Hero Section */
  
    .dividor_hero {
      margin-top: 5%;
      margin-bottom: 3%;
    }
  

  
    .header_section {
      height: 80vh;
    }

    .accordion {
      padding: 4.9rem 8.6rem;

    }

    body .body_section {
      height: 100%;
      border: 3px solid;
      font-family: "Montserrat", sans-serif;
      background: linear-gradient(to right, #000 50%, #ff9924 50%);
      border-image-slice: 1;
      padding: 4rem;
      overflow: hidden;
    
    }
    
    .background_section {
      background-color: rgb(254, 231, 201);
      height: 100%;
      z-index: 10;
      box-shadow: 0rem 0.9rem 0.9rem 0.9rem rgba(1, 1, 1, 0.3);
      position: relative;
      
    }
    
    /* circle css starts here */
    .circle {
      width: 23rem; 
      height: 23rem; 
      border-radius: 50%;
      position: absolute;
      top: 1.5%;
      right: -5%;
      transform: rotate(15deg);
      z-index: 11;
     
    }
    
    .circle::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
          to right,
          rgb(188,177,160, 0.5) ,
          rgb(188,177,160, 0.5) ,
           .3rem,
          transparent 0.2rem,
          transparent 0.8rem
      );
      border-radius: 50%;
    }
    
    .circle_top {
      width: 50rem; 
      height: 50rem; 
      border-radius: 50%;
      position: absolute;
      top: -7rem;
      right: 30%;
      transform: rotate(15deg);
      z-index: -1;
     
    }
    
    .circle_top::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
          to right,
          rgb(188,177,160, 0.2) ,
          rgb(188,177,160, 0.2) ,
           0.5rem,
          transparent 0.2rem,
          transparent 0.8rem
      );
      border-radius: 50%;
    }
    
    
    .circle_bottom {
      width: 33rem; 
      height: 33rem; 
      border-radius: 50%;
      position: absolute;
      left: -14%;
      bottom: -2%;
      transform: rotate(15deg);
      z-index: 10;
     
    }
    
    .circle_bottom::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      background: repeating-linear-gradient(
          to right,
          rgb(188,177,160, 0.5) ,
          rgb(188,177,160, 0.5) ,
           0.5rem,
          transparent 0.2rem,
          transparent 0.8rem
      );
      border-radius: 50%;
    }
    
    /* Hero Secion Starts  */
    .hero_section_information {
      margin: 1% 0;
    }

    /* Her Section Ends */
    
  
  /* Our Instructors */
  .our_instructors_images {
    gap: 1rem;
  }
  
  .our_instructors_image {
    height: 32vh;
    width: 12rem;
  }
  
  
  .our_instructors_images .our_instructors_image img {
    right: 1%;
    width: 21vh;
  }
  }