@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ffff;
    --secondary-color: #ff9821;
}

html {
    font-size: 62.2%;
    scroll-behavior: smooth;
    scroll-padding: 16vmax;
    
}

body {
    background-color: rgb(254,231,201);
    font-family: "Montserrat", sans-serif;
    /* border: 4rem solid; 
    box-shadow: 0rem 0.4rem 0.4rem rgba(0, 0, 0, 0.1);
    border-image: linear-gradient(to right, #000 50%, #ff9924 50%);
    border-image-slice: 1; */

}


header,
main {
  padding: 0;
}

header {
    padding: .6rem 0;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}

/* Header Scroll */
.header_section {
    position: relative;
    overflow: hidden;
    height: 58vh;
    /* background: rgba(1, 1, 1, 0.3); */
    text-align: left;
    background-image: linear-gradient(360deg, rgba(254,231,201, 100%), transparent);
}

.hero_section_video {
    position: absolute;
    right: 0;
    z-index: -1;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}


header {
    position: fixed;
    width: 100%;
    top: 0;
    transition: .4s ease-in-out;
    z-index: 10;
    /* margin: 4rem 0; */
}

header.active {
    background-color: rgb(185,113,24);
}


.dividor_hero {
    background-color: rgb(255,176,86);
    height: .2rem;
    margin-top: 10%;
    margin-bottom: 10%;
    position: relative;
    display: flex;
    justify-content: center;
}

.dividor {
    background-color: rgb(255,176,86);
    height: .2rem;
    margin: 9vh 0vh 3vh 0vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.dividor_header {
    background-color: rgb(255,176,86);
    height: 2rem;
    width: .2rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dividor_header::after {
    content: "";
    background-color: rgb(255,176,86);
    height: 0.8rem;
    width: 0.8rem;
    border-radius: 50%;
    position: absolute;
    bottom: 0;
}

/* Hero section */
/* 
.hero_section_information{
    padding: 8rem 0 2vh 0;
} */



.navigation_section {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.logo img {
    height: 9rem;
}


.nav_links {
    display: none;
}

.nav_links.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    top: 0;
    left: 0;
    background-color: rgba(1, 1, 1, 0.3);
    z-index: 10;
}

.nav_links.active nav {
    width: 94%;
}

.nav_links.active nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #e2dada;
    padding: 2rem 6rem 2rem 2rem;
    border-radius: .4rem;
    transition:  margin-right 2s .5s;
    margin-top: 11rem;
}

.nav_links nav ul a {
    font-size: 1.6rem;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 3rem;
    text-decoration: none;
    color: black;
    position: relative;
    /* border: 3px solid blue; */
    transition: 0.3s ease;
    width: fit-content;
}

.nav_links nav ul a:before{
    content: "";
    height: .3rem;
    width: 0;
    position: absolute;
    background: rgb(254,231,201,0.5);
    bottom: 0;
    left: 0;
    border-radius: .4rem;
    transition: 0.3s ease;
}

.nav_links nav ul a:hover:before {
    width: 100%;
    transition: 0.8s  ease-in-out;
}


.navigation_menu {
    background: url("../images/bar_icon.png")no-repeat;
    background-size: 3rem;
    background-position: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: .3s ease; 
    
}

.navigation_menu.active {
    z-index: 30;
    background: url("../images//closeicon.png")no-repeat;
    background-size: 2.5rem;
    background-position: center;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    transition: .3s ease; 
}

/* .main_section{
    border: 3px solid rgb(99, 156, 99);
    position: relative;
    background-image: 
    linear-gradient(to bottom , transparent, rgb(254,231,201)), 
    linear-gradient(to left,  rgb(254,231,201, 30%), transparent);
} */

/* .hero_section {
    border: 3px solid red;
    position: relative;
    min-width: 100vw;
    min-height: 30vh;
    background: rgba(1, 1, 1, 0.3);background-image: 
    linear-gradient(to bottom , transparent, rgb(254,231,201)), 
    linear-gradient(to left,  rgb(254,231,201, 30%), transparent);
    
}

.hero_section_background {
    position: absolute;
  
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.hero_section_video {
    width: 100vw;
} */



/* main Section */

/* Hero Section */
.head_content {
    font-size: 2.4rem;
    font-weight: 400;
}

.hero_section_information {
    margin-top: 19vh;
    z-index: 1000;
}

.head_content p {
    font-weight: 600;
}

.sub_head_content {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 2rem;
}

.sub_head_content span {
    font-weight: bold;

}

/* Our Program Section */
.menu_sections {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu_sections .header article {
    background-color: rgb(255,176,86);
    width: fit-content;
    padding: 1rem 2rem 1rem 2rem;
    color: #ffff;
    font-weight: 600;
    font-size: 1.6rem;
    border-radius: .6rem;
    margin-bottom: .8rem;
    
}

/* card Section */
.our_programs_cards {
    display: grid;
    place-items: center;
    row-gap: 2rem;
}

.our_programs_card {
    position: relative;
}

.our_programs_card img {
    height: auto;
    border-radius: .8rem;
    border: 2px solid #ffff;
    width: 100%;
}

.our_programs_card_details {
    position: absolute;
    bottom: 0rem;
    top: ;
    margin: 0rem 0.2rem;
    padding: 1.5rem 2rem;
    background: rgba(1, 1, 1, 0.3);
    margin-bottom: 0.3rem;
    border-bottom-left-radius: .8rem;
    border-bottom-right-radius: .8rem;
    align-content: center;
}

.our_programs_card_details h3 {
   font-size: 1.8rem;
   font-weight: 500;
   color: #ffff;
   font-style: italic;
}

.our_programs_card_details p {
    font-size: 1.4rem;
    font-weight: 400;
    color: #ffff;
    margin-top: 1rem;
}

/* Our Instructors */
.our_instructors_details {
    padding-top: 12vh;
}

.our_instructors_images{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.our_instructors_images #our_instructor_1 {
    position: relative;
    bottom: 4rem;
}

.our_instructors_image {
   
    background-color: rgb(232,206,177);
    border: 2px solid #fff;
    height: 21vh;
    width: 10rem;
    border-radius: 1rem;
    position: relative;
}

.our_instructors_images .our_instructors_image img {
    position: absolute;
    bottom: -0.4rem;
    right: 0;
    width: 28vw;
    height: auto;
}

.article {
    margin: 3rem 0rem;
    text-align: center;
    font-size: 1.7rem;
    font-weight: 500;
}
.our_instructors_information article span {
    font-weight: 600;
}

/* Our Comunity */
.our_community_information {
    margin: 1rem 0rem;
}

/* Competition and Achievement */
.competition_achievement_images .competition_achievement_images_slider {
    display: grid;
    place-items: center;
    row-gap: 2rem;
    
}

.competition_achievement_images img {
   width: 100%;
   height: auto;
   border-radius: .3rem;
   transition: transform 0.6s ease-in-out
}


.competition_achievement_images img:nth-child(n+7) {
    display: none;
    transition: opacity .9s ease-in-out;
}

.competition_achievement_images img:hover {
    transform: scale(1.03);
    cursor: pointer;
}

.competition_achievement_images:hover img:not(:hover) {
    transform: scale(0.9);
    opacity: 0.7;
}

.competition_images_buttons {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.competition_images_button > button {
    margin-top: 2rem;
   padding: 1rem 2rem 1rem 2rem;
   background-color: rgb(254, 152, 32);
   color: #fff;
   font-size: 1.6rem;
   border: 1px solid white;
   border-radius: .8rem;
}

.competition_images_button > button:hover {
    cursor: pointer;
    font-size: 1.7rem;
    /* box-shadow: 1rem 1rem 1rem 1rem rgb(184, 219, 128); */
    transition: 0.8s;
}

.hidden {
    display: none;
    transition: all .3s ease-in-out;
}

/* Competition Images to be slider */
.competition_achievement_images_popup {
    background-color: rgba(1, 1, 1, .7);
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: 160rem;
    width: 100%;
    height: 100vh;
    z-index: 1000;
    opacity: 0; 
    visibility: hidden;
    transition: opacity 0.9s ease-in-out, visibility 1s ease-in-out;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.competition_achievement_images_popup.active,
.competition_achievement_images_popup.active img,
.competition_achievement_images_popup .prev_slide,
.competition_achievement_images_popup .next_slide {
    opacity: 1;
    visibility: visible;
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: opacity 1s ease-in-out, visibility 1s ease-in-out;
}

.competition_achievement_images_popup.active .competition_achievement_image_details {
    position: relative;
    max-width: 90vw;
    width: 100%;
    height: 60vh;
    overflow: hidden;
}

.competition_achievement_images_popup.active .competition_achievement_image_details:hover {
    cursor: pointer;
}

.competition_achievement_images_popup.active .competition_achievement_image_details .competition_achievement_image {
    height: 100%;
    width: 100%;
    border-radius: 0.9rem;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    object-fit: cover;
}

.competition_achievement_images_popup.active .competition_achievement_image_details .competition_achievement_image > img {
    border-radius: 0.6rem;
    height: 100%;
    width: 100%;
    object-fit: contain;
    opacity: 1;   
    transition: 1s ease-in-out;
    
}

.competition_achievement_images_popup.active .competition_achievement_images_control {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    transition: ease 0.3s;
    cursor: pointer;
}

.competition_achievement_images_popup.active .competition_achievement_images_control:hover {
    background-color: rgba(255, 255, 255);
}

.competition_achievement_images_popup.active .competition_achievement_images_controls .prev_slide {
    left: 6%;  
    transform: translate(-50%, -50%);
}

.competition_achievement_images_popup.active .competition_achievement_images_controls .next_slide {
    right: 6%;  
    transform: translate(50%, -50%);
}



/* Choose Us */
.choose_us_why_title {
    font-size: 2.4rem;
}

.choose_us_why_title  p {
  font-size: 2.4rem;
  font-weight: 600;
 
}

.head_content p span,
.choose_us_why_title article span,
 .hero_section_information .head_content,
 .header,
 .competition_images_button button,
 .choose_us_why_title article {
  font-weight: 500;
  font-family: "Playfair Display", serif !important;
 }

.choose_us_card {
    display: grid;
    place-items: center;
    margin: 4rem 0rem 3rem 0rem;
  
}

.choose_us_card::after {
    content: "";
    height: .2rem;
    width: 100%;
    background-color: #000;
}

.choose_us_card .choose_us_card_image img {
    width: 100%;
    height: auto;
    border-radius: 1rem;
}

.choose_us_card_information {
    padding: .5rem .5rem;
}

.choose_us_card_information .choose_us_card_title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: ;
}

.choose_us_card_information .choose_us_card_content {
    font-size: 1.7rem;
    font-weight: 400;
}

.choose_us_card_image,
.choose_us_card_information {
    margin-bottom: 1rem;
}

/* Join Us */
.join_us_section a {
    text-decoration: none;
}

.join_us_section .join_us_header {
    display: grid;
    place-items: center;
    background-color: rgb(254,152,32);
    padding: 1.8rem 0rem;
    font-size: 2.3rem;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}

.join_us_section .join_us_header:hover {
    border-radius: .5rem;
    transition: .3s ease-in-out;
}

.join_us_content p {
   margin: 3rem 0rem;
   text-align: center;
   font-size: 1.7rem;
   font-weight: 400;
}

/* Footer */
footer {
    padding: 0;
}

footer .footer_one,
.footer_two {
    padding: 2rem 1rem;
}

footer .footer_one {
    background-color: rgb(254,152,32);
}

footer .footer_one_categories {
    color: #fff;
    display: grid;
    place-content: center;
    text-align: center;
    gap: 1.5rem;
    
}

.footer_one_category .footer_category_title {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: .4rem;
    position: relative;
    display: inline-block;
}

.footer_one_category .footer_category_title:after {
    content: "";
    display: inline-block;
    height: .2rem;
    width: 100%;
    background-color: rgb(254,231,201,0.5);
    position: absolute;
    left: 0;
    
}

.footer_one_category .footer_category_content p{
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 2.5rem;
}

footer .footer_two {
    background-color: rgb(185,113,24);
    text-align: center;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.5rem;
}
