.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}


/* Small Screen Size */

@media only screen and (min-width: 480px) {
  .container {
    max-width: 95%;
    padding: 0 1rem;
  }

  html {
    font-size: 57.9%;
  }

  .dividor_hero {
    background-color: rgb(255,176,86);
    height: 0.2rem;
    margin-top: 30%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .hero_section_background {
    height: 90vw;
  }

  /* Our Instructors */
  .our_instructors_image {
    height: 24vh;
    width: 32%;
  }

  .our_instructors_images .our_instructors_image img {
    right: 16%;
  }
}

@media only screen and (min-width: 640px) {
  .container {
    max-width: 90%;
    padding: 0rem 1rem;
  }

  .dividor_hero {
    background-color: rgb(255,176,86);
    height: 0.2rem;
    margin-top: 30%;
    margin-bottom: 5%;
    position: relative;
    display: flex;
    justify-content: center;
  }

  .hero_section_background {
    height: 80vw;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 90%x;
    padding: 0rem 2rem;
  }

  html {
    font-size: 68.7%;
  }

  /* Header Section */

  /* Hero Section */
  .dividor_hero {
    margin-top: 40%;
    margin-bottom: 4%;
  }
  .hero_section {
    margin-top: 23vh;
}

.hero_section_background {
  height: 68vw;
}

  /* Our Program Section */
  .our_programs_card_details {
    padding: 4.5rem 2rem;
  }

  .our_programs_card_details h3 {
    font-size: 2rem;
  }

  .our_programs_card_details p {
    font-size: 1.5rem;
  }

  /* Our Instructor Section */

  .our_instructors_image {
    height: 30vh;
    width: 27vw;
  }

  .our_instructors_images .our_instructors_image img {
    position: absolute;
    bottom: -0.4rem;
    left: 1rem;
    width: auto;
    height: 38vh;
  }

  /* Our Community */

  /* Competition And Achievement Section */

  /* Why Us Section */

  /* Join Us Section */

  /* Footer Section */
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 90%;
  }

  html {
    font-size: 68.9%;
  }

  .dividor_hero {
    margin-top: 30%;
    margin-bottom: 4%;
  }

  .dividor {
    margin: 9vh 0vh 5vh 0vh
  }

  /* header */
  .navigation_menu,
  .nav_links {
    display: none;
  }

  .nav_links {
    display: flex;
  }

  .nav_links.active {
    background-color: none;
  }

  .nav_links ul {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }

  .nav_links nav ul a {
    font-weight: 500;
  }

  .nav_links.active {
    position: static;
    width: auto;
    height: auto;
    display: flex;
    justify-content: flex-start;
    top: auto;
    left: auto;
    background-color: transparent;
    z-index: auto;
  }

  .nav_links.active nav {
    width: fit-content;
  }

  .nav_links.active nav ul {
    display: flex;
    flex-direction: row; /* Display the navigation links horizontally */
    background-color: transparent;
    padding: 0;
    border-radius: 0;
    margin: 0;
  }

  /* Hero Section */
 



  .hero_section_information {
    display: grid;
    grid-template-columns: 40%;
    margin-top: 29vh;
  }

  /* Our Programs Card */
  .our_programs_cards {
    display: grid;
    row-gap: 2rem;
    column-gap: 2rem;
    grid-template-columns: 49% 49%;
    padding: 0 0.6rem;
  }

  .our_instructors_details {
    display: grid;
    grid-template-columns: 56% 40%;
    column-gap: 3rem;
  }

  .our_community_information {
    display: grid;
    grid-template-columns: 50%;
    text-align: left;
  }

  /* Competition and achievement */
  .competition_achievement_images {
    place-content: center;
    /* padding: 0 0.5rem; */
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 2rem;
  }

  .competition_achievement_information article {
    padding: 0 12rem;
  }

  /* Why Us */

  .choose_us_why_title {
    display: grid;
    grid-template-columns: 40%;
  }

  .choose_us_card::after {
    content: "";
    height: 0;
    width: 0;
  }

  .choose_us_cards .row_reverse {
    display: grid;
    grid-template-columns: 40% 50%;
    column-gap: 9rem;
    place-content: center;
    text-align: right;
    margin-left: 15vh;

  }

  .choose_us_cards .row {
    display: grid;
    grid-template-columns: 50% 40%;
    place-content: center;
    column-gap: 9rem;
    text-align: left;
    margin-right: 15vh;
  }

  .choose_us_cards .row :nth-child(2) {
    grid-row-start: 1;
  }

  .choose_us_card_information .choose_us_card_content {
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 1rem;
  }

  /* Footer */
  footer .footer_one_categories {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

@media only screen and (min-width: 1280px) {
  .container {
    max-width: 90%;
  }

  html {
    font-size: 72%;
  }

  /* Hero Section */
  .hero_section_background {
    height: 65vw;
  }
}
  



@media only screen and (min-width: 1536px) {
  .container {
    max-width: 90%;
  }

  html {
    font-size: 76%;
  }

  /* Hero Section */
  .hero_section_background {
    width: 98.8vw;
    height: 63vw;
  }

  .dividor_hero {
    margin-top: 34%;
  }

  .our_instructors_image {
    height: 32vh;
    width: 13vw;

  }

  .our_instructors_images .our_instructors_image img {
    position: absolute;
    bottom: -0.4rem;
    left: 2rem;
    width: auto;
    height: 41vh
  }
}
